networks:
  demo:
    driver: bridge

services:
  mautic:
    image: mautic/mautic:6.0.7-apache
    container_name: mautic
    restart: always
    ports:
      - 8080:80
    environment:
      DOCKER_MAUTIC_LOAD_TEST_DATA: true
      DOCKER_MAUTIC_RUN_MIGRATIONS: true
      MAUTIC_DB_HOST: mysql
      MAUTIC_DB_PORT: 3306
      MAUTIC_DB_DATABASE: mautic_db
      MAUTIC_DB_USER: mautic_db_user
      MAUTIC_DB_PASSWORD: a123456789
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/"]
      start_period: 5s
      interval: 5s
      timeout: 5s
      retries: 20
    networks:
      - demo
    depends_on:
      mysql:
        condition: service_healthy

  mysql:
    image: mysql:9.5.0
    container_name: mysql
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: mautic_db
      MYSQL_USER: mautic_db_user
      MYSQL_PASSWORD: a123456789
      MYSQL_ROOT_PASSWORD: a123456789
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 3s
      timeout: 2s
      retries: 20
    networks:
      - demo
