networks:
  demo:
    driver: bridge

services:
  jaeger:
    image: jaegertracing/all-in-one:1.76.0
    container_name: jaeger
    restart: always
    ports:
      #      - 6831:6831/udp # jaeger-agent
      - 16686:16686 # jaeger-ui
      - 14269:14269 # jaeger-collector
      - 4317:4317 # jaeger-collector - grpc OTLP
      - 4318:4318 # jaeger-collector - http OTLP
    environment:
      COLLECTOR_OTLP_ENABLED: true
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "14269"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - demo

  telemetrygen:
    image: golang:1.26rc3
    container_name: telemetrygen
    stdin_open: true
    tty: true
    working_dir: /go
    command: >
      bash -c "
      go install github.com/open-telemetry/opentelemetry-collector-contrib/cmd/telemetrygen@latest &&
      exec /bin/bash"
    networks:
      - demo
    depends_on:
      jaeger:
        condition: service_healthy
