networks:
  demo:
    driver: bridge

services:
  lgtm:
    image: grafana/otel-lgtm:0.15.0
    container_name: lgtm
    restart: always
    ports:
      - 3000:3000
      - 4317:4317 # grpc OTLP
    networks:
      - demo

  telemetrygen:
    image: golang:1.26rc2
    container_name: telemetrygen
    stdin_open: true
    tty: true
    working_dir: /go
    command: >
      bash -c "
      go install github.com/open-telemetry/opentelemetry-collector-contrib/cmd/telemetrygen@latest &&
      exec /bin/bash"
    networks:
      - demo
