services:
  mailpit:
    image: axllent/mailpit:v1.28.0
    container_name: mailpit
    restart: always
    ports:
      - 8025:8025 # HTTP
      - 1025:1025 # SMTP
    environment:
      TZ: Europe/Lisbon
