networks:
  demo:
    driver: bridge

services:
  aspire:
    image: mcr.microsoft.com/dotnet/aspire-dashboard:13.1.0-amd64
    container_name: aspire-dashboard
    restart: always
    environment:
      DOTNET_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS: true
    ports:
      - 18888:18888 # Web UI
      - 4317:18889 # grpc OTLP
    networks:
      - demo

  telemetrygen:
    image: golang:1.25.5
    container_name: telemetrygen
    stdin_open: true
    tty: true
    working_dir: /go
    command: >
      bash -c "
      go install github.com/open-telemetry/opentelemetry-collector-contrib/cmd/telemetrygen@latest &&
      exec /bin/bash"
    networks:
      - demo
