services:
  wiremock:
    image: wiremock/wiremock:3.13.2-alpine
    container_name: wiremock
    ports:
      - 8080:8080
    volumes:
      - ./ResponseMocks:/home/wiremock/mappings
    command:
      - --global-response-templating
      - --verbose
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --spider --quiet http://localhost:8080/__admin/health || exit 1",
        ]
      interval: 10s
      timeout: 5s
      start_period: 15s
      retries: 5
